# Dependencies
/vendor
/node_modules

# Build files
/public/build
/public/hot

# Environment files
.env
.env.*
!.env.example

# Storage (logs, cache, sessions)
storage/
storage/*.key

# IDE / Editors
.vscode/
.idea/

# PHPUnit / testing
.phpunit.result.cache
.phpunit.cache

# Logs / temp
*.log
*.bak
*.tmp

# OS files
.DS_Store
Thumbs.db

# Homestead / Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# Auth / tools
auth.json
.phpactor.json